<!DOCTYPE html>
<html>
<head>
  <title>APIJSON.cn</title>
  <meta charset="utf-8" />
  <meta name="keywords" content="apijson,api,json,fastjson,json在线解析,json格式化验证"/>
  <meta name="description" content="后端接口和文档自动化，前端(客户端) 定制返回JSON的数据和结构！"/>

  <!-- 登录 <<<<<<<<<<<<<<<<<<<< -->
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <!-- 登录 >>>>>>>>>>>>>>>>>>>> -->

  <link href="css/hint.min.css" rel="stylesheet">
  <!-- <link href="css/diffview.css" rel="stylesheet"> -->
  <link href="css/loading.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="md/css/editormd.preview.css" />
</head>

<body>
<style type="text/css">
  .url {
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    flex-grow: 1
    /* justify-content: center */
  }
  .transfer {
    width: 58px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .send {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .statement {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: small;
    z-index: 100;
    background-color: white;
    color: #bbb;
    border-top: #fafafa 1px solid;
  }
</style>
<div id="app" style="background-color: white">
  <div class="side-top">
    <img src="img/logo.png" class="logo-img"/>
    <a class="logo" href="https://github.com/TommyLemon/APIJSON" target="_blank">
      <span class="on">APIJSON</span><span >.cn</span>
    </a>
    <a href="https://github.com/TommyLemon/APIJSONAuto" target="_blank">
      <span class="slogan" >在线解析 </span><span class="slogan" v-show="isDelayShow" >2s</span>
    </a>
    <div class="top-right">
      <a v-show="User.id != null && User.id > 0" href="javascript:void(0)" @click="logout()">
        退出
      </a>

      <a v-show="User.id != null && User.id > 0" href="javascript:void(0)" @click="getCurrentUser()">
        {{User.name}}
      </a>

      <!-- 部分头像加载不出，或者显示为开源中国LOGO -->
      <!--<img v-show="User.id != null && User.id > 0" href="javascript:void(0)" @click="logout()" :src="User.head"-->
      <!--style="width: 100%; height: 100%; padding: 10%;"/>-->

      <a v-show="User.id == null || User.id <= 0" href="javascript:void(0)" @click="isLoginShow = ! isLoginShow">
        登录
      </a>
    </div>
  </div>

  <!--<div :class="'side-left side-view-' + baseview">-->
  <div class="side-left">
    <div v-show="! isRemoteShow" class="left-bar" >
      <button class="transfer" id="vTransfer" @click="transfer()">' / "</button>
      <input class="url" id="vUrl" type="text" placeholder="请输入请求的接口地址" @keyup="doOnKeyUp(event)" />
      <button class="send" id="vSend" @click="send()">发送请求</button>
    </div>
    <div v-show="isRemoteShow" class="left-bar">
      <svg class="icon" style="margin-left: 10px">
        <use xlink:href="svg/icon.svg#share"></use>
      </svg>
      <span style="display: flex;flex-grow: 1;font-size: medium;margin-left: 6px">测试用例</span>
      <a >{{ testProcess }}</a>
      <a class="hint--top save-tool"  data-hint="回归测试" href="javascript:void(0)" @click="test()">
        <img class="icon" src="img/refresh.png"/>
      </a>
    </div>
    <div class="left-panel">
      <ul v-show="isRemoteShow" class="historys" style="width: 100%;height: 100%;overflow: hidden;overflow-y: scroll;padding-bottom: 50px">
        <li v-for="(item, index) in remotes" >
          <a href="javascript:void(0)" @click="restore(item)" > {{(item.version > 0 ? 'V' + item.version : 'V*') + ' ' + item.name  + '    ' + item.url}}</a>
          <div :style="{ background: item.compareColor }" v-show="item.compare != null && item.compare != 0" style="position: absolute;right: 30px;display: inline-block;">
            <button v-show="item.compare != null && item.compare > 0" @click="handleTest(false, index, item)" style="position: relative;color: red">{{ item.error + (item.showType == 'before' ? '-前' : '-后') }}</button>
            <svg class="icon" style="position: relative;margin-left: 10px" @click="downloadTest(index, item)">
              <use xlink:href="svg/icon.svg#export-txt"></use>
            </svg>
            <button @click="handleTest(true, index, item)">这是对的</button>
          </div>
          <svg v-show="item.userId == User.id" class="icon" style="margin-right: 4px" @click="remove(item, index, true)">
            <use xlink:href="svg/icon.svg#trash"></use>
          </svg>
        </li>
      </ul>
      <div v-show="! isRemoteShow" style="width: 100%;height: 100%;" >
        <textarea id="vComment" style="width: 100%; height: 100%; position: absolute; z-index: 0; color: darkseagreen; background-color: white;" wrap="off" disabled>
        </textarea>
        <textarea id="vInput" @keyup="onChange(true)"style="width: 100%;height: 100%; position: absolute; z-index: 100; background: #0000;" wrap="off" >
        {
          "[]":{
            "User":{
              "sex":1
            }
          }
        }
        </textarea>
      </div>
    </div>
  </div>

  <div class="splitx" ></div>

  <div class="side-right">
    <div class="right-inner">
      <div class="right-bar">
        <div class="pull-left">

          <a v-show="! isExpand" href="javascript:void(0)" class="hint--top"  data-hint="全部展开"  @click="expandAll()">
            <svg class="icon" >
              <use xlink:href="svg/icon.svg#expand"></use>
            </svg>
          </a>

          <a v-show="isExpand" href="javascript:void(0)" class="hint--top"  data-hint="全部折叠" @click="collapseAll()">
            <svg class="icon"  >
              <use xlink:href="svg/icon.svg#collapse"></use>
            </svg>
          </a>

          <a class="hint--top save-tool"  data-hint="保存到本地" href="javascript:void(0)" @click="showSave(true)">
            <svg class="icon">
              <use xlink:href="svg/icon.svg#save"></use>
            </svg>
          </a>

          <span class="pop-btn" > <!--v-show="historys.length > 0">-->
                <a v-show="isRemoteShow" class="hint--top" data-hint="本地保存，点击隐藏共享" href="javascript:void(0)">
                  <svg class="icon" @click="showRemote(false)">
                    <use xlink:href="svg/icon.svg#record"></use>
                  </svg>
                </a>
                <a v-show="! isRemoteShow" class="hint--top" data-hint="本地保存，点击查看共享" href="javascript:void(0)">
                  <svg class="icon" @click="showRemote(true)">
                    <use xlink:href="svg/icon.svg#record"></use>
                  </svg>
                </a>
                <ul class="historys pop">
                  <li v-for="(his, index) in historys">
                    <a href="javascript:void(0)" @click="restore(his)"  > {{his.name}}</a>

                    <svg class="icon" @click="remove(his, index, false)">
                      <use xlink:href="svg/icon.svg#trash"></use>
                    </svg>
                  </li>
                </ul>
          </span>

        </div>
        <div class="pull-right">

          <a href="javascript:void(0)" class="hint--top"  data-hint="下载"   @click="showExport(true, false)">
            <svg class="icon">
              <use xlink:href="svg/icon.svg#export-txt"></use>
            </svg>
          </a>

          <a href="javascript:void(0)" class="hint--top"  data-hint="共享"   @click="showExport(true, true)">
            <svg class="icon">
              <use xlink:href="svg/icon.svg#share"></use>
            </svg>
          </a>

          <span class="pop-btn">
                <a class="hint--top"  data-hint="换肤" href="javascript:void(0)" @click="isThemeShow = true">
                  <svg class="icon">
                    <use xlink:href="svg/icon.svg#theme"></use>
                  </svg>
                </a>
                <div class="themes pop">
                  <div :class="'theme-item ' + (index === checkedTheme)" v-for="(theme, index) in themes" @click="switchTheme(index)">
                    <span class="theme-color" v-for="color in theme" :style="{backgroundColor: color}" ></span>
                  </div>
                </div>
              </span>
        </div>

      </div>


      <div class="right-main"  v-show="baseview == 'formater' && view != 'error'" >

        <!--正常JSON格式化视图-->
        <div style="position: relative" class="view-code"  v-show="view == 'code'">
          <vue-outer :jsondata="jsonhtml" isend="true" :theme="theme"></vue-outer>
        </div>

        <!--空视图-->
        <div class="view-code"  v-show="view == 'empty'">
        </div>

        <!--压缩视图-->
        <textarea v-show="view == 'compress'">{{compressStr}}</textarea>

        <textarea id="vOutput" v-show="view == 'output'"></textarea>

        <div class="right-main" id="vMarkdown" v-show="view == 'markdown'"></div>
      </div>


      <!--格式化错误视图-->
      <div class="view-error" v-show="view == 'error'">
        <pre v-cloak>{{error.msg}}</pre>
      </div>

      <!--diff视图-->
      <!-- <div id="diffoutput" v-show="baseview == 'diff' && view != 'error'">

      </div> -->

    </div>
  </div>

  <div class="statement">
    Copyright ©2017 APIJSON.cn All right reserved.
    <a href="http://www.miitbeian.gov.cn/" target="_blank">
      <span >粤ICP备18005508号-1.</span>
    </a>
    本网站部分工具是站长整合网上已有工具、开源包等，并全部遵循原有协议发布，著作权归属原作者或是团队。
  </div>

  <!--弹出保存框-->
  <div class="save-box" v-show="isSaveShow">
    <svg class="icon close-icon" @click="showSave(false)">
      <use xlink:href="svg/icon.svg#close"></use>
    </svg>

    <input type="text" placeholder="请输入名称" v-model="history.name" />
    <button   @click="save()" >保存</button>
  </div>

  <!--弹出下载文本框-->
  <div class="save-box" v-show="isExportShow">
    <svg class="icon close-icon" @click="showExport(false, isExportRemote)">
      <use xlink:href="svg/icon.svg#close"></use>
    </svg>

    <input type="text" placeholder="请输入名称" v-model="exTxt.name" />
    <button @click="exportTxt()">{{isExportRemote ? '上传' : '下载'}}</button>
  </div>


  <!-- 登录 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
  <div class="my-login-page" v-show="isLoginShow">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="card fat" >
              <div class="card-body">
                <h4 class="card-title">{{ loginType == "login" ? "登录" : (loginType == "register" ? "注册" : "重置密码")}}</h4>
                <form method="POST">

                  <div class="form-group">
                    <label for="vAccount">账号</label>

                    <input id="vAccount" type="text" class="form-control" name="account" value="13000082001" required autofocus />
                  </div>

                  <div class="form-group">
                    <label for="vPassword">密码
                      <a class="float-right" v-show="loginType != 'register'" href="javascript:void(0)" @click="loginType = loginType == 'login' ? 'forget' : 'login'">
                        {{ loginType == "login" ? "忘记密码?" : "记得密码?" }}
                      </a>
                    </label>
                    <input id="vPassword" type="password" class="form-control" name="password" value="123456" required data-eye />
                  </div>

                  <div class="form-group" v-show="loginType != 'login'">
                    <label for="vVerify">验证码
                      <a class="float-right" href="javascript:void(0)" @click="getVerify()">获取</a>
                    </label>

                    <input id="vVerify" type="tel" class="form-control" name="verify" required />
                  </div>

                  <div class="form-group" v-show="loginType == 'login'">
                    <label >
                      <input type="checkbox" name="remember"/> 记住登录
                    </label>
                  </div>

                  <div class="form-group" style="margin-top: 30px">
                    <button class="btn btn-primary btn-block" @click="confirm()">
                      确定
                    </button>
                  </div>

                  <div class="margin-top20 text-center" v-show="loginType != 'forget'">
                    {{ loginType == "login" ? "没有账号?" : "已有账号?" }}
                    <a href="javascript:void(0)" @click="loginType = loginType == 'login' ? 'register' : 'login'">
                      {{ loginType == "login" ? "注册" : "登录" }}
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- 登录 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


</div>

<!--用于移动的时候遮住文本域 避免被选中-->
<div class="widnow-cover">
</div>






<!--最外层根结构-->
<script type="text/x-template" id="outer-template">
  <ul class="json-item">
    <vue-val  :val="jsondata" :isend="isend" :theme="theme"></vue-val>
  </ul>
</script>

<!--内层每个键值对-->
<script type="text/x-template" id="item-template">
  <ul class="json-item">
    <vue-val :field="key" :theme="theme" :val="val" :isend="index == objLength(jsondata) - 1" v-for="(val, key, index) in jsondata"></vue-val>
  </ul>
</script>

<!--key value 最终的渲染方式-->
<script type="text/x-template" id="val-template">
  <div class="keyval">
    <template v-if="!isObjectArr(val)">
      <span class="key" v-show="field" :style="{color: theme.key}">"{{field}}": </span>
      <span  :class="'val val-' + getTyp(val)" :style="{color: theme[getTyp(val)]}">
            <span v-if="!isaLink(val)">{{formatVal(val)}}</span>
            <a v-if="isaLink(val)" :href="val" target="_blank" class="json-link" :style="{color: theme['link-link']}">{{formatVal(val)}}</a>
            <span v-if="!isend">,</span>
          </span>
    </template>


    <!--key + 展开折叠ICON-->
    <template v-if="isObjectArr(val)">
      <span class="key" :style="{color: theme.key}" v-show="field">"{{field}}": </span>
      <vue-expand></vue-expand>
    </template>


    <!--值为对象时-->
    <template v-if="getTyp(val) == 'Object'">
          <span class="expand-view">
            <span>{</span>
            <vue-item :jsondata="val" :theme="theme"></vue-item>
            <div class="brace-end">}<span v-if="!isend">,</span></div>
          </span>

      <span class="fold-view">{{getTyp(val)}}{<label class="ex-alia" @click="expand($event)">{{objLength(val)}}</label>}<span v-if="!isend">,</span></span>
    </template>


    <!--值为数组时-->
    <template v-if="getTyp(val) == 'Array'">
          <span class="expand-view">
            <span>[</span>
            <span class="val">
              <vue-outer :jsondata="sub" v-for="(sub, index) in val" :isend="index == val.length - 1" :theme="theme"></vue-outer>
            </span>
            <div class="brace-end">]<span v-if="!isend">,</span></div>
          </span>

      <span class="fold-view">{{getTyp(val)}}[<label class="arrlen ex-alia" @click="expand($event)">{{val.length}}</label>]<span v-if="!isend">,</span></span>

    </template>
  </div>
</script>

<!--展开 折叠的 UI 组件-->
<script type="text/x-template" id="expand-template">
  <span class="expand-wraper">
        <svg class="icon icon-square icon-square-min" @click="fold($event)" title="折叠">
          <use xlink:href="svg/icon.svg#minus-square"></use>
        </svg>

        <svg class="icon icon-square icon-square-plus" @click="expand($event)" title="展开">
          <use xlink:href="svg/icon.svg#plus-square"></use>
        </svg>
      </span>
</script>




<script src="js/vue.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jsonlint.js"></script>
<script src="js/parse.js"></script>
<script src="js/editor.js"></script>
<!-- <script src="js/diffview.js"></script> -->
<script src="js/localforage.min.js"></script>
<script src="js/FileSaver.js"></script>
<script src="js/uuid.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/helper.js"></script>

<!-- 必须在main.js前 TODO 可能有冲突，代码写入vue文件？ <<<<<<<<<<<<<<<< -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" language="JavaScript" charset="UTF-8" src="apijson/StringUtil.js" ></script>
<script type="text/javascript" language="JavaScript" charset="UTF-8" src="apijson/JSONObject.js" ></script>
<script type="text/javascript" language="JavaScript" charset="UTF-8" src="apijson/JSONRequest.js" ></script>
<script type="text/javascript" language="JavaScript" charset="UTF-8" src="apijson/JSONResponse.js" ></script>
<script type="text/javascript" language="JavaScript" charset="UTF-8" src="apijson/CodeUtil.js" ></script>
<!-- 必须在main.js前 TODO 可能有冲突，代码写入vue文件？ >>>>>>>>>>>>>>>> -->


<script src="js/main.js"></script>

<script type="text/javascript" language="JavaScript" charset="UTF-8" >
  //TODO 保留，用v-model绑定到App.data会报错，各种undefined
  var vInput = document.getElementById("vInput");
  var vComment = document.getElementById("vComment");
  var vOutput = document.getElementById("vOutput");
  var vUrl = document.getElementById("vUrl");
  var vTransfer = document.getElementById("vTransfer");
  var vSend = document.getElementById("vSend");

  var vAccount = document.getElementById("vAccount");
  var vPassword = document.getElementById("vPassword");
  var vVerify = document.getElementById("vVerify");

  vUrl.value = new String(URL_BASE + '/get'); //main.js里访问不到，可能是script引用顺序问题

  var vMarkdown = document.getElementById('vMarkdown');


  //vComment跟随vInput滚动，避免JSON重叠"露馅"
  $(vInput).on('scroll', function() {
    $(vComment).scrollLeft(this.scrollLeft);
    $(vComment).scrollTop(this.scrollTop);
  });


  function markdownToHTML(md) {
    vMarkdown.innerHTML = '';
    editormd.markdownToHTML("vMarkdown", {
      markdown        : md ,//+ "\r\n" + $("#append-test").text(),
      //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
      htmlDecode      : "style,script,iframe",  // you can filter tags decode
      //toc             : false,
      tocm            : true,    // Using [TOCM]
      //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
      //gfm             : false,
      tocDropdown     : true,
      // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
      taskList        : true,
      tex             : true,  // 默认不解析
      flowChart       : true,  // 默认不解析
      sequenceDiagram : true,  // 默认不解析
    });
  }
</script>
<script src="md/lib/jquery.min.js"></script>
<script src="md/lib/marked.min.js"></script>
<script src="md/lib/prettify.min.js"></script>

<script src="md/lib/raphael.min.js"></script>
<script src="md/lib/underscore.min.js"></script>
<script src="md/lib/sequence-diagram.min.js"></script>
<script src="md/lib/flowchart.min.js"></script>
<script src="md/lib/jquery.flowchart.min.js"></script>

<script src="md/editormd.js"></script>

</body>
</html>
